name: CI

on:
  push:
    branches: ["main"]
    paths-ignore:
      - "**/**.md"
  pull_request:
    branches: ["main", "release/*"]
    paths-ignore:
      - "**/**.md"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.24"

      - name: Test
        run: go test ./... -v
